/* cb-style.css defines how links are displayed and       */
/* possibly some other details of page rendering within   */
/* conceptbase.cc                                         */
/* Created: 2-Sep-2004/M.Jeusfeld                         */
/* Modified: 15-Sep-2004/M.Jeusfeld                       */
/* Modified: 30-Nov-2011/M.Jeusfeld                       */

body {
font-family: sans-serif;
font-size: 14px;
margin-left: +42px;
margin-right: +42px;
}

A:link {color: #2300DC; text-decoration: none}  /* display of links */
A:visited {color: #2300DC; text-decoration: none} /* visited links */
A:hover {color: #FF6633; text-decoration: none} /* links under the cursor */

H1 {padding-top: 12px; color:#000000; font-family:arial, cursive, sans-serif;}
H2 {padding-top: 8px; color:#000000; font-family:arial, cursive, sans-serif;}
H3 {padding-top: 5px; color:#000000; font-family:arial, cursive, sans-serif;}

/* adapted from http://river.styx.org/css/river.css */
pre
{
  margin-left: 2em;
  margin-right: 2em;
  background-color: #EFEFEF;
  padding: 1em;
  border-color: #AFAFAF;
  border-width: 1px;
  border-style: solid;
  white-space: pre;
  overflow:auto;
  text-align: left;
}

P,LI {text-align: justify; font-family:sans-serif; font-size: 14px}
TABLE,TR,TD {font-family:sans-serif; font-size: 14px}


