body {
    background-image:url(/CBdoc/PIC/cb-bg1.jpg);
    background-repeat:no-repeat;
    margin-left: +50px;
    margin-right: +15px;
    text-align: justify;
    font-family: sans-serif;
}

ul.red {
    list-style-image: url(/CBdoc/PIC/red-ball.gif);
}

ul.blue {
    list-style-image: url(/CBdoc/PIC/blue-ball.gif);
}
