<title>ConceptBase for Schema Evolution</title>
<H1>ConceptBase for Schema Evolution</H1>

<p>
In O-Telos, the object model of ConceptBase,
everything (tokens, classes, meta-classes,
meta-meta-classes, attributes, instantiations, specializations) is
treated as an object. That means that you may update the "schema"
classes at any time just as any other object.

<p>
The systems has user-defined and builtin integrity constraints that
prevent inconsistency (e.g. violation of ref.integrity).  Integrity
constraints in ConceptBase are static, i.e., they are conditions that
each database "state" must satisfy. On the other hand,
they are objects, too, and may be inserted/deleted at runtime.
The same holds for deductive rules.

<p>
The data model we use does not distinguish schema level information
(i.e. classes) from instance level information. If you change for
example some classes and this change violates some integrity
constraints, e.g.  some instances now don't have the right attribute
types anymore, then you have the choice either to reject the update or
to change the existing DB. Currently, ConceptBase simply rejects such
updates.
An application of the system for schema evolution is described in
<p>
M. Jarke, M.A. Jeusfeld, P. Szczurko:
Three aspects of intelligent cooperation in the quality life cycle.
Appears in <em> Intl. Journal of Intelligent and Cooperative
Information Systems</em>; also appeared as technical report 
(in <a HREF="ftp://ftp.informatik.rwth-aachen.de/pub/reports/1993/93-21.ps.gz">
Postscript</a>).

<p><address>
<a HREF="http:://www.informatik.rwth-aachen.de/I5/mjf/mjf.html">M. Jeusfeld</a>, 14-Jan-1994
</address>
